@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
  .help-page{
    background-color: #044677;
  }
  
  .help-header{
    position: relative;
    width: 100%;
    height: auto;
  }
  
  .image-container{
    position: relative;
    width: 100%;
    height: auto;
  }

  .pills{
    width: 100%;
    height: auto;
  }

  .content-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 55px;
  }
  
  .white-pills{
    width: 50%;
    height: auto;
    margin-bottom: 20px;
  }
  
  .header-help-title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; 
    font-size: 4em; 
    font-weight: 800;
    text-align: center;
    font-family: 'Inter', sans-serif;
  }

  .section-title{
    padding: 20px;
  }

  .section-description{
    font-size: large;
    color: rgb(255, 255, 255);
    position: relative;
    font-family:'Inter', sans-serif;
    text-align: center;
    margin-left:12%;
    margin-right: 12%;
    font-weight: 600;
  }

  .column{
    display: flex;
    flex-direction: column;
  }

  .terminology{
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 36px;
  }

  .terms{
    list-style-type: none;
  }

  .term-column{
    display: flex;
    flex-direction: column;
  }

  .term-title{
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 24px;
  }

  .term-description{
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    font-size: 16px;
  }

