
.admin-page {
    display: flex;
    flex-direction: column;
    height: 91vh;
    background-image: url('../../background.jpg');;
    background-size: cover;
    background-position: center;
  }

  
  header {
    background-color: #729775;
    color: rgb(12, 0, 0);
    padding: 1rem;
  }
  
  footer {
    background-color: #729775;
    color: rgb(10, 0, 0);
    padding: 1rem;
    margin-top: auto;
  }
  
  .login-box {
  max-width: 600px;
  height: 450px;
  margin: 0 auto;
  top: 3000px;
  padding: 100px;
  background-size: cover;
  background-position: left;

  }
  
  form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
    top: 3000px;
    padding: 100px;
    background-size: cover;
    background-position: left;

  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }
  
  label {
    margin-bottom: 0.5rem;
  }
  
  input[type="text"],
  input[type="password"] {
    padding: 0.5rem;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
  }
  
  button[type="submit"] {
    background-color: #007bff;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
  }
  
  .error {
    color: red;
    font-size: 0.8rem;
    margin-top: 0.5rem;
  }
  
  .dashboard {
    margin: 2rem;
  }
  
  .dashboard-title {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .dashboard-buttons {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;
  }
  
  .logout-button {
    background-color: #dc3545;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
  }
  
  .translations-form {
    margin-top: 2rem;
  }
  