@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.about-page{
  background-color: #B6E7FF;
}

.about-header{
  position: relative;
  width: 100%;
  height: auto;
}

.image-container{
  position: relative;
  width: 100%;
  height: auto;
}

.child{
  width: 100%;
  height: auto;
  display: block;
}

.header-about-title{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white; 
  font-size: 4em; 
  font-weight: 800;
  text-align: center;
  font-family: 'Inter', sans-serif;
}
.about-container {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  background-color: #B6E7FF;
}

.about-title {
  font-size: 2.5rem;
  margin-bottom: 50px;
  text-align: left;
  align-items: left;
  padding-left: 40px;
  color: #555555;
}

.rectangle{
  width: 84px;
  height: 8px;
  background-color: #044677;
  display: block; 
  margin-bottom: 20px;
  position: absolute;
  top: 675px;
  left: 40px;
}

.team-section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.team-member {
  width: 376px;
  height: 384px;
  margin: 20px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  text-align: center;
  transition: transform 0.3s ease-in-out;
  border-radius: 20px;
}

.team-member:hover {
  transform: translateY(-5px);
}

.name{
  font-family: 'Inter', sans-serif;
  font-weight: 800;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.job-title{
  font-family: 'Inter', sans-serif;
  font-weight: 200;
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.team-member img {
  width: 349px;
  height: 195px;
  margin-bottom: 20px;
  object-fit: cover;
}

.social-links {
  display: flex;
  justify-content: center;
}

.social-links a {
  margin: 0 10px;
  color: #fff;
  font-size: 1.5rem;
  transition: color 0.3s ease-in-out;
}

.footer {
  position: relative;
  background-color: #044677;
  padding: 20px;
  text-align: center;
  height: 60px;
  bottom: 0;
  width: 100%;
}
