@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.home-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  background: none;
}

.body {
  flex-grow: 1;
  position: relative;
  display: flex;
  flex-direction: column;
}

.background-image {
  background-image: url('/background2.jpg');
  background-position: center;
  background-size: cover;
  position: absolute; 
  z-index: -1;
  width: 100%;
  height: 100%;
}

.source{
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 600;
  padding: 20px;
}

.source-dropdown{
  padding: 20px;
}

.target{
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 600;
  padding: 20px;
}

.target-dropdown{
  padding: 20px;
}

.word-search-section{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding: 20px;
}

.word-search {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 0.4; 
  gap: 30px;
}

.database-search{
  display: flex;
  flex-direction: column;
}


.database-search-results{
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 600;
  padding-top: 20px;
}

.search-button-column {
  text-align: center;
  flex: 20%;
}

.search-button{
  width: 90px;
  height: 48px;
  background-color: #044677;
  color: #fff;
  border-radius: 15px;
  border: none;
  font-family: 'Inter', sans-serif;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  text-align: center;
}
/* Set the width of each column individually */
.input-column {
  text-align: right;
  flex: 20%;
}

.input {
  width: 150px;
  height: 35px;
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  color: #044677;
  text-align: center;
  border: none;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.medicine-output{
  list-style-type: none;
}

.translate-button-column{
  padding-left: 120px;
}

.translate-button {
  text-align: center;
  flex: 20%;
  width: 90px;
  height: 48px;
  background-color: #044677;
  color: #fff;
  border-radius: 15px;
  border: none;
  font-family: 'Inter', sans-serif;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.translate-results{
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 600;
  padding: 20px;
}

.output-column {
  text-align: left;
  flex: 20%;
}

.output-translation{
  padding: 20px;
}

.output {
  width: 320px;
  height: 25px;
  font-size: 16px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.footer {
  background-color: #044677 !important;
  padding: 20px;
  text-align: center;
  height: 60px;
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .input-output-section {
    flex-direction: column;
  }
  
  .input-column, .translate-button-column, .output-column {
    flex: 100%;
  }
}

@media screen and (max-width: 480px) {
  .input {
    width: 150px;
    height: 35px;
    font-size: 14px;
  }
  
  .translate-button {
    width: 100px;
    height: 35px;
    font-size: 14px;
  }
  
  .output {
    width: 150px;
    height: 35px;
    font-size: 14px;
  }
  
}



