@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body{
  margin: 0;
  padding: 0;
}

.navbar{
  height: 100px;
  background-color: #0068B7;
  position: relative;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
}

.container{
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.logo .logo-text{
  font-size: 40px;
  font-weight: 900;
  font-family: 'Inter', sans-serif;
  color: #fff;
  text-decoration: none;
  text-align: center;
  align-items: center;
  padding: 10px;
}

.admin-icon{
  display: block;
  padding: 10px;
  cursor: pointer;
  text-align: center;
  align-items: center;
}

.nav-elements{
  display: none;
  position: absolute;
  right: 0%;
  padding: 20px;
  top: 85px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  overflow: hidden;
  z-index: 1000;
}

.nav-elements.active{
  display: block;
}

.nav-elements ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.nav-elements ul li .nav-link{
  padding: 10px 20px;
  display: block;
  font-size: 16px;
  font-weight: 400px;
  color: #555555;
  text-decoration: none;
  font-family: 'Inter', sans-serif;
}

@media screen and (max-width: 600px) {
  .navbar{
    width: 100%;
  }
  .nav-elements{
    right: 0;
  }
}
