@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
  --foreground: #ffffff;
  --background: grey;
  --accent: #69b1eb;
}

html {
  font-family: 'Open Sans';
  height: 100%;
  overflow: hidden;
  background-color: var(--background);
}

body {
  overscroll-behavior-y: none;
  height: 100%;
  overflow: auto;
  color: var(--foreground);
  background-image: url("/images/background.jpg");
  background-size: cover;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  
}

