#main {
  width: 100%;
  height: 100%;
  font-size: 24px;
}

#translation-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: grey;
  padding: 2em;
  border-radius: 3em;
  width: 30em;
  max-width: 90%;
  margin: 5em auto;
}

#lang-selectors {
  display: flex;
  height: fit-content;
}

.lang-selector {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0px 1em ;
}


#translate-button {
  font-size: .8em;
  padding: 1em;
  border: none;
  color: var(--foreground);
  background-color: var(--accent);
  border-radius: 1em;
}

#translate-button:hover {
  background-color: #074fa8; 
  cursor: pointer; 
}

#output-label {
  margin-top: 2em;
}
/* Tablet view */
@media screen and (max-width: 1024px) {
  #main {
    font-size: 18px;
  }

  #translation-form {
    width: 35em; 
    max-width: 90%;
    margin: 5em auto; 
  }
}

/* Mobile view */
@media screen and (max-width: 768px) {
  #main {
    font-size: 16px;
  }

  #translation-form {
    width: 100%;
    max-width: 90%; 
    padding: 1.5em;
    margin: 2em auto;
    border-radius: 1em;
  }
}

/* Mobile View */
@media screen and (max-width: 480px) {
  #main {
    font-size: 14px;
  }

  #translation-form {
    width: 100%;
    max-width: 90%; 
    padding: 1em;
    margin: 2em auto;
    border-radius: 0.5em;
  }
}