.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: none;
  width: 100%;
}

.main-container {
  height: 90%;
  width: 100%;
  position: relative;
  background: none;
}

